{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Buildyear</th>
                <th>Name</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.brand }}</td>
                <td>{{ car.buildyear }}</td>
                <td>{{ car.name }}</td>
                <td>{{ car.color }}</td>
                <td>
                    <a href="{{ path('app_other_car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('app_other_car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_other_car_new') }}">Create new</a>
{% endblock %}
